@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>UnAuthorized</title>
</head>
<body>
    <div>
        <h3>Không có quyền truy cập</h3>
        @Html.ActionLink("Trở về trước", "Login", "User", new { returnUrl = ViewBag.ReturnUrl },null)
    </div>
</body>
</html>