@model Checkinapp.ViewModels.CreateCourseViewModel
@{
    ViewBag.Title = "Thêm khóa học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="../../plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="../../plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="../../plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Bootstrap4 Duallistbox -->
    <link rel="stylesheet" href="../../plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
    <!-- daterange picker -->
}
<div class="container-fluid">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Thêm khóa học</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                @using (Html.BeginForm("Create", "Course", FormMethod.Post, new { enctype = "multipart/form-data", @id = "formID" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="card-body">
                        @if (TempData["Success"] != null)
                        {
                            @Html.ValidationSummary(false, "", new { @class = "text-success" })

                        }
                        else
                        {
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                        }
                        <div class="form-group">
                            <label>Name:</label>
                            <input type="text" name="Name" class="form-control "  required/>
                        </div>
                        <div class="form-group">
                            <label>Ngày bắt đầu:</label>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                </div>
                                <input type="text" class="form-control"name="Datetime" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask required>
                            </div>
                            <!-- /.input group -->
                        </div>
                      
                        <div class="form-group">
                            <label>Hình thức training:</label> 
                            <select id="ddlplatform" class="form-control select2" name="platformID"  required style="width: 100%;">
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Nội dung:</label>
                            <select id="ddlContent" class="form-control select2" name="contentIDs" multiple required style="width: 100%;">
                            </select>
                        </div>
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                }
            </div>
            <!-- /.card -->
        </div>
    </div>
</div>
@section Scripts{


    <!-- Select2 -->
    <script src="../../plugins/select2/js/select2.full.min.js"></script>
    <!-- Bootstrap4 Duallistbox -->
    <script src="../../plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
    <!-- InputMask -->
    <script src="../../plugins/moment/moment.min.js"></script>
    <script src="../../plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <!-- date-range-picker -->
    <script>
        $(function() {
            //Initialize Select2 Elements
            $('#ddlplatform').select2({ placeholder: 'Chọn một hình thức' });
            $('#ddlContent').select2({ placeholder: 'Chọn một/nhiều nội dung cần train' });

          
            //Money Euro
            $('[data-mask]').inputmask()
        })
    </script>
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            GetPlatform();
            GetContents();
        });

       

        function GetPlatform() {

            var url = "/api/platforminfor/GetPlatformInfors/";
            var markup = "";

            $.ajax({
                url: url,
                cache: false,
                success: function (data) {
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].Id + ">" + data[x].Name + "</option>";
                    }
                    $("#ddlplatform").html(markup).show();
                },
                error: function (response) {
                    bootoast.toast({
                        message: response,
                        type: 'danger'
                    });
                }
            });
        }
        
        function GetContents() {

            var url = "/api/courseinfor/GetAllContent/";
            var markup  = "";

            $.ajax({
                url: url,
                cache: false,
                success: function (data) {
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].Id + ">" + data[x].Name + "</option>";
                    }
                    $("#ddlContent").html(markup).show();
                },
                error: function (response) {
                    bootoast.toast({
                        message: response,
                        type: 'danger'
                    });
                }
            });
        }
    </script>
}
